# Python cache and compiled files
__pycache__/
*.py[cod]
*.egg-info/

# Environment files
.env
*.env

# VSCode settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Secrets & credentials
*.json
*.key
*.pem

# GitHub Actions tokens or sensitive config
gcp-key.json
*.service-account.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore service account credentials
my-project-900-455006-b6c683c5ad18.json
*.json
